:root { 
    --var-verd-00 :rgba(255, 255, 255, 0.804); 
    --var-verd-01 :#73C884 ; 
    --var-verd-02 :#4DA769;
    --var-verd-03 : #25874E; 
    --var-verd-04 : #006634; 
    --var-verd-05 : #033d21f1; 

}


* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* classes base */
.desativado{
    display: none;
    
    
}
.ativo { 
    display: block;
}

.Hstyle { 
    color: var(--var-verd-00);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto-vermelho { 
    color: red;
    
}

/* conteudo */
#container { 
    background-color: var(--var-verd-00);
    display: flex;
    flex-direction: column;
    color:var(--var-verd-00);
    
}
#img {
  background-color: transparent;
  margin: 10px;
  height: 250px;
  width: 450px;
  padding-bottom: 10px;
}
#formulario { 
    background-color:var(--var-verd-00);
    width:100%;

    padding: 10px;
    gap: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#formulario h2 { 
    padding: 10px;
}


.notas { 
    background-color: var(--var-verd-05);

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    border-radius: 10px;
    gap: 5px;
}

.notas h2 { 
    font-size: 1.8rem;
}
.nota { 
    background-color: var(--var-verd-03);
    width:90% ;
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    border-radius: 5px;
}
.nota label {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;

}

.nota input { 
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight:bold;

}


.button { 
    
    width: 100%;
    margin: 10px ;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn { 
    width: 45%;
    padding: 8px; 

    border-radius: 10px;
    font-size: 1.1rem;
    background-color: var(--var-verd-03);
    color: var(--var-verd-00);
    border: 2px solid var(--var-verd-00);
    cursor: pointer;
    
}
.btn:hover{ 
    font-weight: bold;
    color: var(--var-verd-05);
    background-color: var(--var-verd-01);
    border: 2px solid var(--var-verd-01);
    letter-spacing: 1px ; 
     
   
}

#sessao-resultados { 
    background-color:var(--var-verd-05);
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-resultado { 
    background-color: var(--var-verd-05);
    width: 100%;
    height: 220px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border-radius: 10px;
}
.campo-resultado span { 
    font-size: 1.5rem;
    font-weight: 500;
}

/* sessao detalhes ocultos */
#section-detalhes { 
    display: flex;
    justify-content: center;
}
#detalhes { 
    background-color:var(--var-verd-05);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;

}
#detalhes h2 { 
    text-align: center;
}
#detalhes th { 
    text-align: start;
}
#tabela { 
    
    background-color:var(--var-verd-00);
    width: 100%;
    height: 200px;
    border: solid 1px ;
  
}
#resultadoSomaA1, #resultado-convertA1 ,#resultado-n1, #resultado-convertN1 , #min6 { 
text-align: center;
}





