.main-bg { 
    background-image: url(../img/Back_Constelação.svg);
    background-size: cover;
    background-position: center center;
    color: var(--var-white);
}

.section { 
    min-height: 100vh;
}
.main-content { 
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.menu-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(85, 85, 85, 0.415);
}

.menu { 
    background-color: var(--var-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #0a1828;
    font-weight:500 ;
    border-bottom: 2px solid lightgray;
    z-index: 1;

    
    
}
.menu ul { 
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}
.menu ul li a { 
    display: block;
    height: 20px;
    color: var(--var-color);
    position: relative;
    

}
.menu ul li a::after { 
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 0%;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after { 
    width: 100%;
 
    background: crimson;
}
.menu-spacing { 
    height: 65px;
}


@media screen and (min-width: 400px )and (max-width: 768px){
    .intro-text-content h2 {
  
        font-size: 2rem;
        margin-top: 20px;
    
    
        
        
    }
}
@media screen and (min-width: 769px )and (max-width: 1200px){
    .intro-text-content h2 {
        font-size: 3rem;
        height: auto;
    }
}
.intro-text-content p { 
    font-size: 1rem;
}

@media screen and (min-width: 1200px )and (max-width: 2000px){
    .intro-text-content h2 {
        font-size: 4rem; 
    }

}
