*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    background-image: url(Backgroud/Backgroud_Universo.png);
}

#faculdade { 
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: cadetblue;
   
}
#certificado-extra {
    /* display: grid;
    grid-template-columns: 300px ,3; */
    background-image: url(Backgroud/back_adesivo.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;

}
.certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;

   
    width: 400px;
    height: 590px;
    border-radius: 10px;
    background-image: url(Backgroud/Backgroud_Universo.png);

}
.certificados img { 
    width: 300px;
    height: auto;
}
.certificados h2 { 
    margin-top: 10px;
}
.bnt-button { 
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;

    width:60%;
    
}
.bnt-button a { 
    text-decoration: none;
}
.inst { 
    color: rgb(230, 8, 8);
}